.distortion {
	width: 850px;
	height: 920px;
	align-self: flex-end;
}

.landing {
	display: flex;
	justify-content: flex-end;
	height: 100vh;
	font-family: Dank Mono;
	padding: 30px;
}
.intro {
	align-self: center;
	width: 900px;
}
.intro h2 {
	font-size: 50px;
}

.intro p {
	font-size: 30px;
}
